*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    border: 10px dashed orangered;

}
.hero{
    display: grid;
    border: 2px solid black;
    grid-template-columns: 10px;
    grid-template-rows: 31000px;
    padding: 2px 0;
    font-size: x-small;
}