:root {
    --myColor: #36afa77c;
    --secondColor: #92eeff;
}

body {
    background-color: var(--myColor);
}
nav {
    background-color: rgba(227, 226, 235, 0.471);
    height: 5%;
    border: 2px solid var(--myColor);
}
main {
    background-color: var(--secondColor);
    border: 1% solid;
}
.main-of-p {
    font-size: 20px;
}
footer {
    background-color: greenyellow;
    height: 9%;
    margin-top: 50%;
}
.button {
    height: 30%;
    inline-size: 20%;
}
